*{
    margin : 0px;
}
a{
    display : block;
    background-color: blue;
    width: 150px;
    color : white;
    margin: 5px;
    padding : 10px;
    text-decoration: none;
    text-align: center;
}
a:active{
    background-color : darkorchid;
}
body{
    padding : 20px;
    background-image: url(child.png);
    background-size: 200px;
    background-repeat : no-repeat;
    background-attachment : fixed;
    background-position: right top;
}
table{
    border-collapse: collapse;
    margin:50px;
    text-align: center;
}
table > caption{
    text-align: left !important;
    font-size : 1.2em;
    font-weight: bold;
    margin : 10px;
}
table > thead{
    background-color: lightcyan;
}
tbody > td:hover{
    background-color: yellow;
}
th, td{
    border : 1px solid #ccc;
}
h1{
    border-radius: 40px 40px 0px 0px;
    color : white;
    text-align: center;
    text-shadow: blue 2px;
    padding : 50px;
    margin : 20px;
}
footer{
    background-color: lightgray;
    position:absolute;
    right:0px;
    bottom :0px;
    padding : 20px;
}
td:hover{
    background-color: yellow;
}